<div class="row my-4 justify-content-center">
  <div class="col-md-12">
    <h4 class="text-start text-muted mt-5 mb-2">Send your comments for this post</h4>
    <%= form_with(model: [post, post.comments.build]) do |form| %>
      <div class="mb-3">
        <%= form.label :body, class: "form-label"%>
        <%= form.text_area :body, class: "form-control", id: "exampleFormControlInput1", placeholder: "Comment's body" %>
      </div>
      <div class="mb-3">
        <%= form.submit "Apply", class: "btn btn-primary" %>
      </div>
    <%end%>
  </div>
</div>
